* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
}

.clock {
  width: 100%;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

span {
  font-size: 72px;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(89, 89, 89, 0.317);
}

#latest-status {
  text-align: center;
  font-variant-numeric: tabular-nums;
  color: rgb(72, 72, 72);
}

.theme-change {
  position: absolute;
}
